body{
    background-color: #ffb300;
}

.f1{
    width: 24%;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;

}
.btn-primary{
    width: 270px;
    border-radius: 20px;
    background-color: #ff6600;
    border: none;
}
.hh1{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
.form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none;
    border: none;
    border-bottom:1px solid;
    border-radius:4px 4px 0 0 ;
}
#LOGINBUTTON{
    text-align: center;

}
